html{
    font-family: 'Source Sans Pro', sans-serif;
}

* {box-sizing: border-box}


.new_form{
    width: 50%;
    margin:auto;
    margin-top: 50px;
    border:1px solid #ccc;
}

@media screen and (max-width: 800px) {
    .new_form {
        width: 100%;
    }
}

.new_form h1{
    color: rgb(97, 30, 153);
    text-align: center;
}

input[type=text], input[type=number], select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=number]:focus, select:focus {
    background-color: #ddd;
    outline: none;
}

label {
    font-weight: 600;
}

.form_container {
    padding: 16px;
}

[data-choice] {
    display: none;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin:5px;
}

.submit {
    border-color: rgb(133, 88, 170);
    color:white;
    background-color: rgb(133, 88, 170);
    text-transform: uppercase;
}

.submit:hover {
    background-color: rgb(97, 30, 153);
}

/*Products*/
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .product_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    font-size: 1.1rem;
  }

  .product_card h4,
  .product_card p{
      margin: 0.5em;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .right{
      float:right;
  }

  .navbar{
    overflow: hidden;
  }

  .navbar h2 {
      float:left;
  }

  .navbar select {
    width: 100%;
    margin: auto;
    display: inline-block;
    padding: 10px 5px;
    background: #fff;
    border: 1px solid #a1a1a1;
  }
  .navbar button{
      display: inline-flex;
  }

  .inline {
    display: flex;
    align-items: center;
  }

  .navbar_form{
      border:none;
  }

.add_new_button{
    background-color: rgb(97, 30, 153);
    color: white;
    font-size: 1.5em;
    padding: 20px 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 50px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    box-shadow: 0px 5px 4px 0px #111;
}

.add_new_button:hover {
    box-shadow: 0px 0px 4px 1px #3c3c3c;
}